.modal__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #14141f8a;
    z-index: 4444444;
  }

  .list__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #14141f8a;
    z-index: 4444444;
  }

  .pop__wrapper {
    position: absolute;
    display: initial;
    top: 8%;
    left: 47.5%;
    width: 12.5%;
    height: 23%;
    background: #000000;
    border: 2px solid  !important;
    border-radius: 5px;
    z-index: 1;
  }
  
  .single__modal {
    position: relative;
    top: 50%;
    left: 50%;
    width: 500px;
    height: auto;
    transform: translate(-50%, -50%);
    background: #fff;
    border: 2px solid  !important;
    border-radius: 5px;
    padding: 30px;
    z-index: 5555555 !important;
    cursor: pointer;
  }

  .list__modal {
    position: relative;
    top: 50%;
    left: 27%;
    width: 500px;
    height: 300px;
    transform: translate(-50%, -50%);
    background: #fff;
    border: 2px solid  !important;
    border-radius: 5px;
    padding: 30px;
    z-index: 5555555 !important;
    cursor: pointer;
  }

  .simple__modal {
    position: relative;
    top: 0%;
    left: 0%;
    width: 0px;
    height: 0px;
    transform: translate(-50%, -50%);
    padding: 30px;
  }
  
  .single__modal h6 {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 10px;
  }
   
  .close__modal {
    position: absolute;
    top: -2px;
    right: -2px;
    z-index: 6666666;
  }
  
 
  
  @media only screen and (max-width: 992px) {
    .single__modal {
      width: 300px;
      height: auto;
    }
  
    .single__modal h6 {
      font-size: 0.9rem;
    }
    .single__modal p {
      font-size: 0.8rem;
      margin-bottom: 0;
    }

  }