:root{
  --fc-button-text-color: #fff;
  --fc-button-bg-color: #712cf9;
  --fc-button-border-color: #000000;
  --fc-button-hover-bg-color: #5f33c5;
  --fc-button-hover-border-color: #000000;
  --fc-button-active-bg-color: #5f33c5;
  --fc-button-active-border-color: #000000;
  --fc-neutral-text-color: #808080;
  --fc-border-color: black;
  --fc-popover-header-bg-color: red;
}
:root:is(.dark) {
  --fc-border-color: #ddd;
  
}

:is(.dark) .fc .fc-popover-header {
  background-color: #323642;
}

:is(.dark) .fc .fc-more-popover .fc-popover-body{
    background-color: #712cf9;
}