html,
body,
body > div { /* the react root */
  margin: 0;
  padding: 0;
  height: 100%;
}

h2 {
  margin: 0;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}

li {
  margin: 1.5em 0;
  padding: 0;
}

b { /* used for event dates/times */
  margin-right: 3px;
}

:root{
  --fc-button-text-color: #fff;
  --fc-button-bg-color: #214cf4;
  --fc-button-border-color: #000000;
  --fc-button-hover-bg-color: #163fbd ;
  --fc-button-hover-border-color: #000000;
  --fc-button-active-bg-color: #163fbd;
  --fc-button-active-border-color: #000000;
  --fc-neutral-text-color: #808080;
  --fc-border-color: black;
}
:root:is(.dark) {
  --fc-border-color: #ddd;
}



.demo-app {
  display: flex;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.demo-app-main{
  flex-grow: 1;
  padding: 3em;
}

.fc { /* the calendar root */
  max-width: 100%;
  max-height: 76%;
  margin: 0 auto;
 
}

.fc .fc-col-header-cell-cushion { /* needs to be same precedence */
  display: inline-block; 
  padding-top: 40px; /* an override! */
  padding-bottom: 40px; /* an override! */
}
